
datasets>=2.19
pandas>=2.2
numpy>=1.26
tqdm>=4.66
python-dotenv>=1.0


rank-bm25>=0.2.2
sentence-transformers>=3.0
faiss-cpu>=1.8
weaviate-client>=4.9


groq>=0.9
boto3>=1.34


scikit-learn>=1.5
nltk>=3.8


jupyter>=1.0
